<!DOCTYPE html>
<html>
  <head>
    <title>HELLO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% tourList.forEach(function(item){ %>
    <h1><%= item.tour_name %></h1>
    <% }) %>

  </body>
</html>
